body{
    background-color: #000000;
}

.chamador, .sinopse{
    text-align: center;
}

h1{
    color: #ffffff;
}
.imglogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.chamador{
    color: #ff0000;
}

a{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

figcaption{
    color: #ffdf00;
    text-align: center;

}

.sinopse{
    color: #ff0000;
}

p{
    color: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.list{
    color: #ff0000;
}

ul{
    color: #ffffff;
}

.persona{
    color: #ff0000;
    text-align: center;
}

#fotos{   
    display: flex;
    justify-content: center;
}

.Botaooo{
text-align: center;

#mostrarFotosBtn{
    cursor: pointer;
    
}

.foto{
    display: inline-flex;
    cursor: pointer;
    width: 150px;
    height: auto;
    text-align: center;
}

.imgclica{
    color: #ff0000;
    font-size: 56px;
}

.imgclica :hover{
    display: none;
}

#voltarBtn{
    cursor: pointer;
    border-radius: 3px solid #ff0000;
    background-color: #000000;
    color: #ff0000;
}