body{
    background-color: #000000;
}

.chamador, .sinopse{
    text-align: center;
}

h1{
    color: #ffffff;
}
.imglogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.chamador{
    color: #ff0000;
}

a{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

figcaption{
    color: #ffdf00;
    text-align: center;

}

.sinopse{
    color: #ff0000;
}

p{
    color: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
